/* ----------------------------------------------------------------------------------- */
.landing-top-section{
    padding:10px 0;
    margin: 40px auto;
}

.landing-top-section h1{
    font-size: 50px;
    font-weight: 750;
    word-spacing: 2.5px;
    color: #3F72AF;
    text-align: center;
    margin: 20px 0 0 0;
}

.landing-top-section p{
    font-size: 15px;
    font-weight: 400;
    word-spacing: 1px;
    color: #3F72AF;
    text-align: center;
    margin: 5px 0;
    padding-bottom: 5px;
}

/* -------------------------------------------------------------------------------------- */

.landing-mid-section{
    background: #DBE2EF;
    padding:10px 0;
}

.landing-info-panel{
    width:80%;
    display: flex;
    margin: 8rem auto;
    
}

.info-panel{
    /* border:1px solid #3F72AF; */
    border-radius: 15px;
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
}

.info-panel img{
    width:150px;
    height:150px;
    margin: auto;

}

.info-panel-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.info-panel-text{
    font-size: 14px;
    text-align: center;
    margin: 10px;
}

.landing-hero-section{
    width:80%;
    margin: 40px auto;
    background-color: #DBE2EF;
}
/* _+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+ */

.hero-section{
    display: flex;
    gap:2rem;
    /* border: 1px solid green; */
    margin: 50px;

}

.hero-section img{
    width: 450px;
    height: 450px;
}

.hero-section h4{
    font-size: 50px;
    padding: 10px;
}

.hero-section p{
    font-size: 15px;
    padding:10px;
}

/* -------------------------------------------------------------------------------------- */

.landing-teacher-info{
    padding:5rem;
    margin: 40px auto;
}

.landing-teacher-info h1{
    font-size: 40px;
    text-align: center;
}

.landing-teacher-info p{
    text-align: center;
}

/* _+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_ */

.landing-more-info{
    background-color: #112d41;
    color: #DBE2EF;
}









/* ***********************************************************************************  */
@media(max-width:769px)
{
    .top-section h1{
        font-size: 40px;
        font-weight: 750;
        word-spacing: 2.5px;
    }
    
    .top-section p{
        font-size: 15px;
        font-weight: 400;
        word-spacing: 1px;
        margin: 5px 0;
        padding-bottom: 5px;
    }

    .landing-info-panel{
        width:80%;
        display: flex;
        margin: 30px auto;
        flex-direction: column;
        position:relative;
    }

    .info-panel-heading{
        text-align: center;
        font-size: 25px;
        font-weight: 800;
    }

    .info-panel-text{
        margin:20px;
        font-size: 13px;
    }

}