.heading {
    text-align: center;
    color: #3F72AF;
    margin-bottom: 15px;
    font-weight: 800;

}

.paragraph{
    text-align: center;
    color:#3F72AF;
    margin-bottom: 30px;
}

.subsTitle {
    text-align: justify;
}

.linkList{
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkList li{
    margin-bottom: 10px;
}

.linkList li a{
    display: inline-block;
}


